<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Recognition</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/site.css" />
    <link rel="stylesheet" type="text/css" href="static/css/crusor.css" />
    <script src="static/js/modernizr-2.6.2.js"></script>
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/script.js"></script>
</head>

<body>

    <div class="container body-content ">
        <div class="cursor" id="cursor"></div>
        <div class="container">

            <h1 class="display mainHeader">Letter Recognition</h1>
            <p class="lead subHeader">Use your mouse to write a letter from A-Z or a-z</p>
        </div>

        <div class="row mainRow">
            <div class="row canvusHolder">
                <canvas id="can" width="200" height="200" style="
        border: 2px solid;" onmouseup="sendData()">
                </canvas>
            </div>
            <img id="canvasimg" style="position:absolute;top:10%;left:52%; display:none;">
            <div class="col resultButton">
                <div id="loadingImage" style="    position: relative;
    width:111px;
    height:14px;
    background: rgba( 255, 255, 255, .8 ) url('static/images/loading.gif') 50% 50% no-repeat;"></div>
                <p id="result" style="display:none;"></p>

            </div>
            <br />
            <br />
            <div class="row clearbutton">
                <div class="col buttonDiv">
                    <button type="button" style="        position: relative;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
" class="btn btn-dark" onclick="init()">Clear</button>

                </div>

            </div>

        </div>
    </div>

    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/respond.js"></script>
</body>
<style>
    #can:hover {
    cursor: url("static/images/brush.png") 15 12, auto;
}
</style>
</html>